#suno{
	width: 100%;
	height: 500px;
	right: 0pt;
	position: relative;
}
#suno img{
	opacity: .5;
	float: right;
	padding-top: 0px;
}
#sdos{
	width: 79.7%;
	height: 300px;
	right: 20pt;
	float: right;
	text-align: center;
	
}
#sdos h1{
	font-size: 19px;
	text-align: center;
}
#sdos p{
	width: 50%;
	float: right;
}
#sdos button{
	background-color: red;
	width: 70px;
	height: 30px;
	border-radius: 10px;
}
#menu{
	
	width: 309px;
	height: 100%;
	color: black;
	position: fixed;
	float: left;
	bottom: 4px;
	padding-top: 100px;
	top: 1px;
	list-style: inline;
	text-align: center;
	border-right:black;
	border-style: solid;
	border-left: none;
	border-top: none;
	border-bottom: none;
	box-shadow: 0 0 15px 10px maroon;
	box-shadow: 0 0 15px 10px;
	
}
#menu ul{
	list-style: none;
	padding-bottom: 100px;
}
#menu ul li a{
	color: black;
	text-decoration: none;
	margin-bottom: 50px;

}
menu img{
	padding-bottom: 123px;

}
#stres{
	position: absolute;
	width: 1000px;
	height: 600px;
	bottom: 100px;
	right: 200px;
	float: center;
	background-color: white;


}
#stres h1{
	font-size: 14px;
}
#stres p button{
	background-color: #5EB9CD;
	border-radius: 5px;
	border-style: none;
	opacity: .8;
}
#stres img{
	float: left;
}
#botones{
	background-color: #FF5252;
	width: 100%;
	height: 50px;
	text-align: center;
	padding-top: 2%;
	margin-top: 220px;

}
#scuatro{
	width: 535px;
	background-color: ;
	padding-bottom: 2%;
	right: 200px;
	font-size: 11px;
	text-align: center;
	margin-left: 650px;

}
#line{
text-align: center;
padding-right: 19%;
}
#line ul{
	list-style: none;
	right: 300px;
}
#line ul li{
	display: inline;
	border-top: 1px gray;
}
#line p{
	text-align: center;
	width: 130px;
	float: right;
	margin-left: 1%;
	padding-left: 7%;
	border-top-color: red;
	border:2px solid;
	border-left: none;
	border-top: none;
	border-right: none;
}
#line h1{
	width: 80%;
	height: 50px;
	float: right;
	text-align: center;
}
#line h2{
	width: 80%;
	height: 50px;
	float: right;
	text-align: center;
	font-size: 16px;
	padding-left: 400px;
}
#scinco{
	width: 70%;
	height: 370px;
	float: right;
	display: inline;

}
#primero{
	display: inline;
	float: left;
	margin: 0px;
	padding:0px;
}
#primero p{
	margin: 10px;
}
#primero span{
	width: 30px;
	height: 20px;
	float: right;
	border-radius: 2px;
	background-color: #5E9CCD;
	color: white;

	
}
#html{
	width: 300px;
	height: 10px;
	background-color: grey;
}
#css{
	width: 300px;
	height: 10px;
	background-color: grey;
	float: right;
	
}
#segundo{
	width: 300px;
	padding-bottom: 100px;
	float: left;
	display: inline;
	padding-left: 200px;

}
#segundo span{
	width: 30px;
	height: 20px;
	float: right;
	border-radius: 2px;
	background-color: #5E9CCD;
	color: white;
	
}
#segundo p{
	
	margin-bottom: 15px;
}
#porcentaje1{
	width: 150px;
	height: 10px;
	background-color: #B05ECD;
}
#sseis{
	width: 90%;
	float: right;
	height: 500px;
	text-align: center;
}
#sseis ul{
	list-style: none;
	
}
#sseis ul li{
	display: inline;
	padding-right: 100px;
}
.arriba{
	margin: 20px;
}
#recta{
	width: 80%;
	height: 400px;
	float: right;
	padding-top: 40px;
	text-align: center;
	

}
#recta ul{
	list-style: none;
	margin-bottom: 150px;
}
#recta ul li{
	display: inline;
}
#portafolio{
	width: 100px;
	height: 400px;
	float: left;
	
}

#portafolio h1{
	height: 200px;
	margin-bottom: 100px;
}
#portafolio1{
	width: 70%;
	height: 800px;
	float: right;
	text-decoration: none;
	display: inline;
}
#portafolio1 ul{
	list-style: none;
	display: inline-grid;
	padding-bottom: 20px;
}
#portafolio1 h3{
	width: 50px;
	position: relative;
	padding-bottom: 900px;
}
#portafolio1 ul li img:hover{
	
	width: 200px;
	border:200px;
	text-align: center;
	padding-right: 100px;
	margin-top: 50px;
}
#portafolio1 button{
	width: 90px;
	height: 40px;
	background-color: red;
	color: white;
	border-radius: 20%;
	text-align: center;
}
#ssiete{
	width: 80%;
	height: 200px;
	float: right;
	text-decoration: none;
	background-color: #F7DC6F ;
	font-size: 20px;
	margin-top: 900px;
}
#ssiete ul{
	list-style: none;
	padding-bottom: 20px;
	color: white;
}
#ssiete ul li{
	display: inline;
	padding-right: 100px;
	text-align: center;
}
#ssiete ul li p{
	display: inline;
	padding-right: 120px;
	text-align: center;
}
#testimonio{
	width: 80%;
	height: 300px;
	float: right;
	margin-left: 30px;
	text-align: center;
	display: inline;

}
#testimonio img{
	
	padding-left: 200px;
}
#testimonio p{
	width: 40%;
	float: left;
	padding-top: 60px;
}
#Contacto{
	width: 80%;
	height: 500px;
	float: right;
	background-color: white;
	margin-bottom: 200px;
	margin-top: 200px;
	display: inline;
	margin-bottom: 15px;
}
#Contacto input{
	margin-right: 20px;

}

#Contacto button{
	
	width: 100px;
	height: 40px;
	float: right;
	margin-top: 50px;
	margin-right: 440px;
	color: white;
	background-color: #6FD2F7;
	display: inline;
	border-radius: 14px;

}
#Contacto h1{
	text-align: center;
}
#Contacto h2{
	text-align: center;
}
#texto{
	width: 20%;
	float: left;
	display: inline;
	margin-right: 270px;

}
#azul{
	width: 45%;
	float: right;
	height: 3px;
	background-color: #3498DB;
	margin-right: 350px;
	margin-bottom: 10px;
}
#azul1{
	width: 70%;
	float: right;
	height: 3px;
	background-color: #3498DB;
	margin-right: 350px;
	margin-bottom: 10px;
}
#azul2{
	width: 65%;
	float: right;
	height: 3px;
	background-color: #3498DB;
	margin-right: 250px;
	margin-bottom: 30px;

}
#azul3{
	width: 80%;
	float: right;
	height: 3px;
	background-color: #3498DB;
	margin-right: 350px;
}
#azul33{
	width: 90%;
	float: right;
	height: 3px;
	background-color: #3498DB;
	margin-left: 240px;
}
#blanco{
	width: 40%;
	height: 3px;
	background-color: white;
	margin-right: 350px;
}


#texto h3{
	color: #E67E22;
}
#fin{
	width: 80%;
	float: right;
	height: 200px;
	background-color: #DCE5E8;
}
#fin ul{
	list-style: inline;
	margin-left: 6px;
	display: inline;


}
#fin ul li{
	display: inline;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
}
#fin ul li img{
	margin-top: 15px;
	padding-right: 5px;
	opacity: 0.5;
	
}
#fin ul li img:hover{
	opacity: 1;
}
#fin p{
	float: right;
}
#lin{
	width: 100%;
	height: 1px;
	float: right;
	background-color: #B0B4B6;
	margin-top: 10px;
}
#finn{
	margin-top: 100px;
	text-align: center;
}

/*
.linea-tiempo {
  position: relative;
  width: 500px;
  max-width: 95vw;
  height: 100%;
  font-family: Arial;
}

.linea-tiempo::before {
  content: '';
  position: absolute;
  width: 3px;
  background-color: #000;
  left: 50%;
  height: 100%;
  border-radius: 10px;
}

.momento {
  position: relative;
  width: 45%;
  box-sizing: border-box;
}

.momento:nth-child(even) {
  left: 55%;
}

.momento::after {
  content: '';
  position: absolute;
  top: calc(50% + 10px);
  right: calc(-11.11% - 11.5px);
  height: 20px;
  width: 20px;
  background-color: #000;
  border-radius: 50%;
}

.momento:nth-child(even)::after {
  left: calc(-11.11% - 8.5px);
}

.momento h3 {
  margin: 10px 0px;
  font-size: 30px;
  text-align: center;
}

.momento .descripcion {
  background-color: #eee;
  border-radius: 10px;
  padding: 10px;
  line-height: 22px;
  font-size: 14px;
}

.momento .descripcion::after {
  content: '';
  position: absolute;
  right: -10px;
  top: calc(50% + 10px);
  height: 0;
  width: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 12px solid #eee;
}

.momento:nth-child(even) .descripcion {
  background-color: #3393FE;
  color: white;
}

.momento:nth-child(even) .descripcion::after{
  left: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 12px solid #3393FE;
  border-left: none;
}*/